{% extends 'base.html' %}

{% block head %}
        <title>Events on {{date}}/{{month}}/{{year}}</title>
{% endblock head %}

{% block css %}

      <link rel="stylesheet" href="/static/css/clockpicker.css">
   
{% endblock css %}

{% block content %}

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">SmartHome Survey</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">


        

<div class="row">
    <div class="col-lg-12 ">
    	<div class="panel panel-default">
    		<div class="panel-heading text-center">
                <div class = "row"><div class = "col-lg-4">
                
                </div>
                <div class = "col-lg-4">
                <h4> All events on {{date}}/{{month}}/{{year}}</h4>
                </div>
                <div class = "col-lg-2">
                
                </div>
                <div class = "col-lg-2">
                <button type = "button" class = "btn btn-info" data-toggle="modal" data-target="#addEvent"> Add an Event</button>
                </div>
                    </div>
            </div>
			<div class="panel-body">

                <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                12 AM - 1 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[0] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>

                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                1 AM - 2 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[1] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                2 AM - 3 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[2] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                3 AM - 4 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[3] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>


             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                4 AM - 5 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[4] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                5 AM - 6 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[5] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                6 AM - 7 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[6] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                7 AM - 8 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[7] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                8 AM - 9 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[8] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                9 AM - 10 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[9] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                10 AM - 11 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[10] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                11 AM - 12 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[11] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                12 PM - 1 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[12] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                1 PM - 2 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[13] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                2 PM - 3 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[14] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                3 PM - 4 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[15] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                4 PM - 5 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[16] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                5 PM - 6 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[17] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                6 PM - 7 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[18] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                7 PM - 8 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[19] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                8 PM - 9 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[20] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                9 PM - 10 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[21] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>

             <div class = "row">

                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                22 PM - 23 PM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[22] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>
                    
                   <div class = "col-lg-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class = "col-lg-4">
                                11 PM - 12 AM
                            </div>

                            <div class = "col-lg-8">
                                
                                {% for i in timetable[23] %}
                                
                                {% if i.action == "off" %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% elif i.action == "on" %}
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{i.eventId}}">{{i.devicename}} at {{i.timestamp}}</button>
                                {% endif %}
                                {% endfor %}
                            </div>

                          </div>
                        </div>                      
                    </div>



            </div>




		</div>
    </div>
</div>
	  



<!--  modals-->
{% for i in timetable %}
{% for j in timetable[i] %}

<div id="{{j.eventId}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <a href = "{{url_for('delevent', eventId = j.eventId, year = year, month = month, date = date)}}"><button type="button" class="close">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        </a>
        <h4 class="modal-title">Event Details</h4>
      </div>
      <div class="modal-body">
        <p>Device Name : {{j.devicename}}</p>
        <p>Action Performed : {{j.action}}</p>
        <p>Time : {{j.timestamp}}</p>
        {% if j.action == "color" %}
        <p>Color : {{j.value}}</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}
{% endfor %}


<div id="addEvent" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a new event</h4>
      </div>
      <div class="modal-body">
        
        <form method="post" action="{{url_for('addevent', dayId = dayId, year = year, month = month, date = date)}}" id="addevent-form" class="form-horizontal">
            
<div class="row">
<div class = "col-sm-5 col-sm-offset-1"> 
<label for="action" >Select the action you performed:</label>
</div>
  <div class="col-sm-4">
            <div class="form-group">
                

                
      <select class="form-control" name = "action" id="action" onchange="yesnoCheck(this);">
        <option value = "on">Power On</option>
        <option value = "off">Switch Off</option>
        <option value = "color">Change Color</option>
      </select>

</div></div>
            </div>


        

        <div class="form-group" style="display: none;" id = "ifYes">
                <label class="control-label col-sm-3 col-sm-offset-1" for="value">Color:</label>
                <div class="col-sm-6">

                <select class="form-control" name = "value" id="value" required= "required">
        <option selected value = "off">-------</option>
        <option value = "red">Red</option>
        <option value = "yellow">Yellow</option>
        <option value = "red">Green</option>
        <option value = "yellow">Blue</option>
        <option value = "red">Purple</option>
        <option value = "yellow">Orange</option>
      </select>


                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="devicename">Device Name:</label>
                <div class="col-sm-6">
                    <select class="form-control" name = "devicename" id="devicename">
                        
                        {% for i in devices %}
                        <option value = "{{i.devicename}}">{{i.devicename}}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>

<div class="row">
<div class = "control-label col-sm-3 col-sm-offset-1"> 
<label for="action" >Time of Event:</label>
</div>
<div class = "col-sm-6">
<div class="form-group">
            <div class="input-group clockpicker">
    <input type="text" class="form-control" value="09:30" name ="timestamp" id = "timestamp">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
</div>

</div>

</div></div>
            <div class="form-group"> 
              <div class="col-sm-offset-5">
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-default" />
            </div>
            </div>
        
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <!-- /.container -->
</div>
{% endblock content %}

{% block js %}
<script src="/static/js/clockpicker.js"></script>
<script type="text/javascript">
$('.clockpicker').clockpicker({
    donetext: 'Select'
});

 function yesnoCheck(that) {
    console.log("hello")
        if (that.value == "color") {
            //alert("check");
            //document.getElementById("value").value = "";
            document.getElementById("ifYes").style.display = "block";
        } else {
            //document.getElementById("value").value = that.value;
            document.getElementById("ifYes").style.display = "none";
        }
    }


</script>
{% endblock js %}
