{% extends 'base.html' %}

{% block head %}
        <title>Landing Page</title>
{% endblock head %}

{% block css %}
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

      <link rel="stylesheet" href="/static/css/style.css">
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <style>
    a.cal{
   color:#000000 !important;
}

a.cal:hover, a.cal:visited{
   color:#000000 !important;
}
    </style>
{% endblock css %}

{% block content %}

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('signup')}}">SmartHome Survey</a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        

        

  <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="panel panel-default">
            		<div class="panel-heading"><h4>Choose the date to fill usage data</h4></div>
  					<div class="panel-body">

  <div class="col-lg-8 text-center">
            <div id="calendar">
    <div id="calendar_header"><i class="icon-chevron-left"></i>          <h1></h1><i class="icon-chevron-right"></i>         </div>
    <div id="calendar_weekdays"></div>
    <div id="calendar_content"></div>
  </div>
</div>

<div class="col-lg-4 ">
  					<div>
  						<h4>enter guiding</h4>  					
  					</div>
</div>
        

	</div>
				</div>
            </div>
         </div>
	  
    <!-- /.container -->
</div>
{% endblock content %}

{% block js %}
<script src="/static/js/index.js"></script>

{% endblock js %}
